<h1>Editing User</h1>
<div class="deiting">
  <%= form_with(model: @user, local: true) do |f| %>
  <p><%= f.label :name %></p>
  <%= f.text_field :name %>
  <p><%= f.label :image %></p>
  <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
  <p><%= f.file_field :image %></p>
  <%= f.hidden_field :image_cache %>
  <p><%= f.label :email %></p>
  <p><%= f.email_field :email %></p>
  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>
  <p><%= f.label :password_confirmation %></p>
  <%= f.password_field :password_confirmation %>
  <p><%= f.submit "Edit my account" %></p>
  <% end %>
</div>
<div button type="button" class="btn btn-outline-primary">
  <i class="fas fa-edit"></i>
  <%= link_to 'Edit', edit_user_path(@user) %></div>
<div button type="button" class="btn btn-outline-primary">
  <i class="fas fa-backward"></i>
  <%= link_to 'Back', pictures_path %></div>