<h1>Sign up</h1>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= form_with(model: @user, local: true) do |f| %>
<div class="forms">
  <div class="field">
    <p><%= f.label :name %></p>
    <%= f.text_field :name %>
    <p><%= f.label :image %>
      <%= image_tag(@user.image.url) if @user.image && @user.image.url %></p>
    <p> <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %></p>
  </div>
  <div class="field">
    <p> <%= f.label :email %></p>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <p><%= f.label :password %></p>
    <%= f.password_field :password %>
    <div class="field">
      <p> <%= f.label :password_confirmation %></p>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.submit "Create my account" %></div>
  </div>
</div>
<% end %>