<p id="notice"><%= notice %></p>
<h1>Pictures</h1>
<table>
  <thead>
    <tr>
      <th>投稿者</th>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @pictures.each do |picture| %>
    <tr>
      <td><%= picture.user.name %></td>
      <td><%= picture.title %></td>
      <td><%= picture.content %></td>
      <td><%= image_tag(picture.image.url) %></td>
      <td button type="button" class="btn btn-outline-primary">
        <i class="far fa-eye"></i>
        <%= link_to 'Show', picture %></td>
      <% if picture.user == current_user %>
      <td button type="button" class="btn btn-outline-primary">
        <i class="fas fa-edit"></i>
        <%= link_to 'Edit', edit_picture_path(picture) %></td>
      <td button type="button" class="btn btn-outline-primary">
        <i class="far fa-trash-alt"></i>
        <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<div button type="button" class="btn btn-outline-primary">
  <i class="far fa-paper-plane"></i>
  <%= link_to 'New Picture', new_picture_path %></div>